@media screen and (max-width: 60rem) {
  .api-page-locked {
    height: 100vh;
    overflow: hidden;
  }
  section {
    min-width: initial;
    margin: 2rem 0 0 0;
  }
  .toggle-nav-btn {
    display: block;
    position: fixed;
    z-index: 10;
  }
  .modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    background-color: transparent;
    transition: all 0.1s;

    &-active {
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: all;
    }
  }

  .float-menu {
    cursor: pointer;
    position: fixed;
    z-index: 1;
    bottom: 5rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /deep/ {
    .one-path {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      background: #f5f7fa;
      padding: 0.5rem 0.25rem;
      max-height: initial;
      transform: translate(-100%);
      transition: transform .2s ease-in-out;
      z-index: 2;

      &_active {
        transform: translate(0);
      }
    }
  }
}
