/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap");

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5c8cec;
  --ifm-color-primary-dark: #3e76e6;
  --ifm-color-primary-darker: #3770e2;
  --ifm-color-primary-darkest: #2f62c9;
  --ifm-color-primary-light: #5687e7;
  --ifm-color-primary-lighter: #6390e8;
  --ifm-color-primary-lightest: #89abee;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Maven Pro", system-ui, -apple-system, Segoe UI,
    Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar {
  height: 68px;
  .navbar__brand {
    img {
      width: 2.125rem;
      margin-right: 0.5rem;
    }
  }
}

.main-wrapper aside {
  background-color: #fafcff;
  font-size: 14px;
}

.menu__link--sublist::after {
  transform: scale(0.6);
}

.menu__list-item--collapsed .menu__link--sublist::after {
  transform: rotateZ(90deg) scale(0.6);
}

.menu__list-item:not(:first-child) {
  margin-top: 2px;
}

.menu__link--sublist {
  margin-bottom: 2px;
}

html[data-theme="dark"] .main-wrapper aside {
  background-color: #353535;
}

code {
  padding: 0 0.35em;
  border-radius: 0.35rem;
  word-break: break-word;
  border: none;
}
