@import "../../assets/scss/theme.scss";
.development-dashboard-web-app {
    .no-app {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .no-app-title {
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
        }
        .no-app-content {
            margin: 14px 0 20px 0;
            width: 238px;
            font-size: 14px;
            line-height: 17px;
        }
        .no-app-button {
            font-size: 16px;
            line-height: 19px;
            color: #3277ff;
        }
    }
    &.is-pad {
        .has-app .has-app-list {
            justify-content: initial;
            .has-app-item {
                margin-right: 17px;
            }
        }
    }
    .has-app {
        padding: 40px 20px 0 20px;
        .has-app-list {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            margin: 0 auto;
            .has-app-item {
                width: 100px;
                height: 100px;
                margin-bottom: 18px;
                &:nth-child(3n) {
                    margin-right: 0;
                }
                border-radius: 16px;
                text-align: center;
                font-size: 14px;
                background-color: #eceff6;
                &.has-app-new-app {
                    color: #fff;
                    background-color: #3277ff;
                    i {
                        display: block;
                        padding: 30px 0 10px 0;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 18px;
                    }
                }
                img {
                    width: 30px;
                    height: 30px;
                    margin-top: 24px;
                }
                & > div {
                    margin: 8px 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .header-slot-right {
        position: relative;
        .right-user-more {
            position: absolute;
            top: 40px;
            transition: top 0.5s;
            opacity: 0;
            right: -10px;
            color: #fff;
            width: 160px;
            background: rgba(0, 0, 0, 0.7);
            box-shadow: 0px 2px 12px 0px rgba(47, 48, 50, 0.6);
            border-radius: 6px;
            .right-user-button-list {
                & > div {
                    height: 63px;
                    border-bottom: solid 1px rgba(255, 255, 255, 0.19);
                    display: flex;
                    align-items: center;
                    i {
                        padding-left: 32px;
                        font-size: 20px;
                        font-weight: 100;
                    }
                    span {
                        font-size: 14px;
                        padding-left: 16px;
                    }
                }
            }
            &::before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 6px;
                background-color: #fff;
                filter: blur(5px);
                z-index: -1;
            }
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border: solid 5px;
                // border-radius: 50px;
                top: -10px;
                right: 22px;
                border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #5e5e5e rgba(0, 0, 0, 0);
            }
            &.right-user-more-active {
                top: 50px;
                opacity: 1;
            }
        }
    }
}
