.content {
  width: 62rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem 0;
}

.top {
  display: flex;
  flex-direction: row;
}

.des {
  margin-bottom: 2rem;

  label {
    font-weight: 700;
    display: block;
    width: 12.5rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  i,
  img {
    width: 1rem;
    height: 1rem;
    transform: translateY(0.125rem);
  }

  i {
    display: inline-block;
    border: 0.125rem solid #000000;
    border-radius: 0.25rem;
  }

  img {
    border-radius: 0;
  }

  span {
    font-weight: 700;
    padding-left: 0.5rem;
  }
}

button {
  border-radius: 0.5rem;
  width: 8.75rem;
  font-size: 1rem;
  margin-bottom: 1.75rem;
  line-height: 2.75rem;

  &.not-finished {
    color: #a9b0bf;
    background-color: #e6e8ee;
    cursor: not-allowed;
  }
}

.meta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  padding-right: 2rem;
}

.edit-main {
  display: flex;
  flex-direction: column;
  flex-grow: 3;

  &.edit-main-new-app {
    margin-top: 3.125rem;
  }
}

.icon label {
  display: inline-block;
  font-weight: 700;
  padding-bottom: 1rem;
}

.upload-icon {
  width: 20rem;
  position: relative;
  height: 20rem;
  background: #fff;
  border-radius: 50%;
  color: #a9b0bf;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:active {
    background: rgba(250, 250, 250, 1);
  }

  img {
    display: inline-block;
    border-radius: 0;
  }

  img.icon-img {
    margin: 0;
    border-radius: 50%;
  }

  img.no-img {
    width: 2.5rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 0;
    transform: translateY(0.125rem);
  }

  p {
    width: 8.75rem;
    margin: 1rem auto;
    font-size: 0.88rem;
  }


  input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }
}

.mixin-id,
.item {
  margin-bottom: 2rem;
}

.name-category {
  display: flex;
  justify-content: space-between;
  width: 100%;


  .item:first-child {
    margin-right: 1.125rem;
    flex: 1;
  }

  .item:last-child {
    min-width: 17.5rem;
  }
}

.icon-img {
  width: 20rem;
  height: 20rem;
}

textarea {
  font-size: 1rem;
  width: 100%;
  height: 7.5rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0.0625rem 0.25rem 0 rgba(28, 77, 174, 0.1);
  border-radius: 0.25rem;
  padding: 1.25rem;
}

.none {
  display: none;
}


@media screen and (max-width: 70rem) {
  .top {
    flex-direction: column;
  }

  .name-category {
    flex-direction: column;

    & > .item:first-child {
      margin-right: 0;
    }
  }

  .meta {
    padding-right: 0rem;
    flex-direction: column-reverse;
  }

  .icon {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 48rem) {
  .content {
    padding-top: 2.5rem;
  }

  .name-category {
    & > .item:last-child {
      min-width: initial;
    }
  }

  textarea {
    font-weight: 500;
  }
}
