@import '../constant.scss';

.home.layout {
  background-image: url('./masthead.png');
  background-position: center top;
  background-repeat: no-repeat;

  .header {
    box-sizing: border-box;
    width: 100%;
    height: 96px;
    padding: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;

    .logo {
      margin: 0;
      padding: 0;
      line-height: 1em;
    }

    .logo img {
      vertical-align: top;
      padding: 0;
      margin: 0;
    }

    .logo.small {
      display: none;
    }

    .navigation {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      padding: 0;

      .item {
        display: inline-block;
        list-style: none;
        height: 96px;
        box-sizing: border-box;
        margin: 0 32px 0 0;
        font-size: 20px;
        font-weight: 300;
        line-height: 96px;

        &.dashboard {
          font-size: 24px;
        }

        a {
          color: $color-main-foreground-dark;
          font-family: $font-main-title;

          &:hover {
            color: $color-main-highlight;
          }
        }
      }
    }
  }

  .masthead {
    text-align: center;
    padding: 64px 32px;

    h2 {
      font-size: 32px;
      font-weight: 300;
    }
  }

  .guides.button {
    text-align: center;
    margin: 0;
    padding: 0;

    a {
      display: inline-block;
      color: $color-main-foreground-dark;
      border: 2px solid $color-main-foreground-dark;
      border-radius: 28px;
      font-family: $font-main-title;
      font-size: 24px;
      font-weight: 300;
      line-height: 1em;
      padding: 16px 32px;

      &:hover {
        background-color: $color-main-highlight;
        border-color: $color-main-highlight;
        color: $color-main-background;
      }
    }
  }

  .contacts {
    text-align: center;
    margin: 20rem 0 0;
    padding: 0;
    .contact {
      list-style: none;
      display: inline-block;
      margin: 0.6rem;
    }
    a {
      color: #000;
      &:hover {
        color: #00B0E9;
      }
    }
  }

  @media (max-width: 768px) {
    .header {
      .logo.small {
        display: block;
      }

      .logo.large {
        display: none;
      }

      .navigation {
        .item {
          display: none;

          &.dashboard {
            display: inline-block;
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    .header {
      padding: 32px 20px;

      .navigation .item {
        margin-right: 20px;
      }
    }

    .masthead {
      padding: 48px 20px;

      h2 {
        font-size: 28px;
        line-height: 1.5em;
      }
    }
  }
}
