.button {
  display: inline-block;

  white-space: nowrap;

  min-width: 10.5rem;
  padding: 0 1.5rem;
  line-height: 2.75rem;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background: #3d75e3;
  text-align: center;
  color: #ffffff;
  border-radius: 0.625rem;
  border: 0.125rem solid #397ee4;

  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background: #fff;
    color: #3d75e3;
  }
}