.button {
  display: inline-block;

  white-space: nowrap;

  padding: 0 2rem;
  line-height: 3.5rem;

  font-family: Maven Pro;
  font-weight: 400;
  font-size: 1.5rem;
  background: #3d75e3;
  color: #ffffff;
  border-radius: 0.625rem;
  border: 0.125rem solid #397ee4;

  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background: #fff;
    color: #3d75e3;
  }
}



@media screen and (max-width: 60rem) {
  .button {
    line-height: 3rem;
  }
}