@import './common.scss';

.home-page {
  position: relative;
  overflow: auto;
  height: 100%;
  background-color: #fff;
}

section {
  font-family: 'Roboto', sans-serif;
  margin-top: 18rem;
}


h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 3.12rem;
  color: #3a3c3e;
}

.bg-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-bottom {
  position: absolute;
  top: 8.4375rem;
  right: 0;
  z-index: -1;
}

.main-title {
  position: relative;
  margin-top: 0;
  padding: 1rem 1rem 0 1rem;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100%;

  h2 {
    width: 36rem;
    position: relative;
    margin-top: 5rem;

    .title-dec {
      position: absolute;
      border-radius: 0.125rem;

      &:nth-child(1) {
        right: -1.7rem;
        top: 5.5rem;

        width: 0.8125rem;
        height: 0.8125rem;

        background: linear-gradient(180deg, #ff6827 0%, #ff9c40 100%);
      }

      &:nth-child(2) {
        right: -0.5rem;
        top: 6.5rem;

        width: 0.9375rem;
        height: 0.9375rem;

        background: linear-gradient(270deg, #2c8df0 0%, #1eb3f9 100%);
      }

      &:nth-child(3) {
        left: -1.2rem;
        top: 1rem;

        width: 1rem;
        height: 1rem;

        background: linear-gradient(180deg, #ffd424 0%, #ffba09 100%);
      }
    }
  }

  ul {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;

    justify-content: center;
    width: 48rem;
    margin-top: -1rem;
    padding: 12.025rem 6.8rem 4.6rem 5rem;

    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            #f9fbff 100%);

    li {
      font-weight: normal;
      text-align: left;
      line-height: 1.5rem;
      color: #7a7b82;

      width: 22rem;
      margin-bottom: 1.25rem;

      /deep/ b {
        color: #2f3032;
      }

      &:nth-child(2n - 1) {
        margin-right: 3.125rem;
      }
    }
  }

  .router-list {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    .button {
      margin-right: 2.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .decoration {
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;

    &:nth-child(1) {
      top: 11.8rem;
      left: -0.5rem;
    }

    &:nth-child(2) {
      top: 18.625rem;
      left: -4.44rem;
    }

    &:nth-child(3) {
      top: 22.505rem;
      left: 0.5rem;
    }

    &:nth-child(4) {
      top: 28.445rem;
      left: -2.25rem;
    }

    &:nth-child(5) {
      top: 31.125rem;
      left: 3.75rem;
    }

    &:nth-child(6) {
      top: 11.75rem;
      right: -0.87rem;
    }

    &:nth-child(7) {
      top: 16.625rem;
      right: -3.75rem;
    }

    &:nth-child(8) {
      top: 22rem;
      right: 1.75rem;
    }

    &:nth-child(9) {
      top: 25.065rem;
      right: -2.875rem;
    }

    &:nth-child(10) {
      top: 30.75rem;
      right: 4.875rem;
    }

    &:nth-child(11) {
      top: 28.25rem;
      right: -2.3rem;

      width: 10.375rem;
      height: 9.625rem;
    }

    &.left-line {
      top: 19.825rem;
      left: -0.125rem;

      width: 0.25rem;
      height: 17.5rem;

      background: linear-gradient(180deg,
              rgba(255, 255, 255, 0) 0%,
              rgba(175, 199, 248, 0.6) 78.65%,
              rgba(255, 255, 255, 0) 100%);
    }

    &.right-line {
      top: 13.5625rem;
      right: -0.125rem;

      width: 0.25rem;
      height: 17.5rem;

      background: linear-gradient(180.22deg,
              rgba(255, 255, 255, 0) 0%,
              rgba(175, 199, 248, 0.6) 100%);
      transform: rotate(-180deg);
    }
  }
}

.zh .main-title {
  h2 {
    .title-dec {
      &:nth-child(3) {
        left: -1.2rem;
      }
    }
  }
}

.latest-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;

  .text-segmentation {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  h2 {
    margin-top: -2rem;
  }

  ul {
    margin-top: 6.94rem;
    width: 55rem;
  }

  li {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2.625rem;
    line-height: 2.38rem;
  }

  .title {
    font-size: 1.125rem;
    color: #3d75e3;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

  .time {
    color: #979797;
  }

  .button {
    margin-top: 4rem;
  }
}

.user-cases {
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    max-width: 64rem;
  }

  img {
    width: 31.25rem;
  }

  .title {
    display: inline-block;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.375rem;
    padding-left: 1rem;

    color: #3a3c3e;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: 0;
      width: 0.375rem;
      height: 1.5rem;

      background: linear-gradient(0deg, #3d75e3 0%, #3e76e3 133.33%);
      border-radius: 0.0625rem;
    }
  }

  .desc {
    margin-top: 2.5rem;
    width: 28rem;

    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 2.375rem;

    color: #333;

    /deep/ a {
      color: #3d75e3;
    }
  }
}

.documentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section1 {
    li {
      margin-bottom: 5.625rem;
    }

    h3 {
      font-size: 1.875rem;
      font-weight: 500;
    }

    p {
      font-size: 1.125rem;
      line-height: 2.375rem;
      color: #333;
    }
  }

  .section2 {
    width: 23.75rem;

    li {
      border-bottom: 0.0625rem dashed #979797;
      margin-bottom: 3.125rem;
    }

    li:last-child {
      border: 0;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.8125rem;

      color: #979797;
    }

    a {
      display: inline-block;
      padding: 1.25rem 0 2.5rem 0;
      font-size: 1.5rem;
      color: #397ee4;

      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.next-step {
  .section1 {
    p {
      font-size: 1.875rem;

      color: #3a3c3e;
    }
  }

  .section2 {
    p {
      &:first-child {
        color: #3a3c3e;
      }
    }
  }
}

@media screen and(min-width: 75.0625rem) {
  .main-title {
    ul {
      margin-top: -8rem;
    }
  }

  .user-cases {
    ul {
      margin-top: 10rem;
    }

    li {
      position: relative;
      margin-bottom: 6.25rem;
      height: 26rem;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
    }

    li:nth-child(2n-1) {
      padding-left: 35.75rem;
    }

    li:nth-child(2n) {
      img {
        left: initial;
        right: 0;
      }
    }
  }

  .documentation {

    .container {
      display: flex;
      margin-top: 8.75rem;
      padding: 3rem 5rem 5rem 5rem;

      background: #f8faff;
      border-radius: 1.5rem;
    }

    .section1 {
      padding-top: 2rem;
      border-right: 0.0625rem dashed #979797;

      li {
        padding-right: 5rem;
      }

      p {
        width: 28rem;
        margin: 1.25rem 0 1.875rem 0;
      }
    }

    .section2 {
      padding: 2rem 0 0 4.375rem;
      width: 20.75rem;
    }
  }

  .next-step {
    .section1 {
      p {
        font-size: 1.875rem;

        color: #3a3c3e;
      }
    }
  }
}

@media screen and (max-width: 75rem) and (min-width: 60.0625rem) {
  section {
    margin-top: 14rem;
  }

  .main-title {
    min-height: 61.5rem;

    ul {
      margin: 0rem auto 0 auto;
      padding: 4.7rem 0rem 4rem;

      li {
        width: 32.5rem;
        margin-bottom: 1.25rem;
      }

      li:nth-child(2n - 1) {
        margin-right: 0;
      }
    }
  }

  .latest-news {
    margin-top: 14.375rem;
  }

  .user-cases {
    ul {
      margin-top: 10rem;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 7.5rem;
    }

    img {
      margin-top: 3rem;
    }

    .desc {
      text-align: center;
      width: 40rem;
    }
  }

  .documentation {
    .container {
      display: flex;
      flex-direction: column;
      margin: 8.75rem 7.5rem 0 7.5rem;

      background: #f8faff;
      border-radius: 1.5rem;
    }

    .section1 {
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 5.625rem 0;
      }

      p {
        text-align: center;

        width: 40rem;
        margin: 1.25rem 0 1.875rem 0;
      }
    }

    .section2 {
      padding: 2rem 0 1.875rem 7.25rem;
    }
  }

  .next-step {
    .section1 {
      p {
        font-size: 1.875rem;
      }
    }
  }
}

@media screen and (max-width: 60rem) {
  .home-page {
    min-width: 20rem;
  }

  section {
    margin-top: 10rem;
  }

  button {
    height: 3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.75rem;
  }

  .main-title {
    width: 100%;
    height: initial !important;
    padding: 2rem;

    h2 {
      font-size: 1.375rem;
      width: 17.5rem;

      .title-dec {
        &:nth-child(1) {
          right: -1rem;
          top: 1.5rem;
        }

        &:nth-child(2) {
          right: 0rem;
          top: 2.4rem;
        }

        &:nth-child(3) {
          left: -0.5rem;
          top: 0.2rem;
        }
      }
    }

    ul {
      width: calc(100% - 1.875rem);
      max-width: 43.75rem;
      padding: 1.25rem;
      margin-top: 3.625rem;

      background: linear-gradient(180deg,
              rgba(248, 250, 255, 0.54) 0%,
              #f9fbff 95.09%,
              #f8faff 95.09%);
      border-radius: 0.25rem;

      li {
        width: 100%;
        font-size: 0.88rem;

        &:nth-child(2n - 1) {
          margin-right: 0rem;
        }
      }

      .decoration-list {
        display: none;
      }
    }

    .router-list {
      position: absolute;
      bottom: -8rem;


      .button:first-child {
        margin: 0;
      }

      .button:nth-child(2),
      .button:nth-child(3) {
        display: none;
      }
    }
  }

  .bg-top,
  .bg-bottom {
    display: none;
  }

  .latest-news {
    margin-top: 18rem;

    ul {
      width: initial;
      max-width: calc(100% - 3.125rem);
      margin-top: 4.0625rem;
    }

    li {
      flex-direction: column;
      padding: 0.625rem 0.625rem;
      margin-bottom: 0;
      border-bottom: 0.0625rem solid #edf0f5;
    }

    .title {
      line-height: 1.75rem;
    }
  }

  .user-cases {
    ul {
      width: 100%;
      max-width: 31.25rem;
    }

    li {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 21.375rem;
      margin: 2rem 0;
    }

    .title {
      margin: 0 2rem;
      text-align: center;
    }

    .desc {
      text-align: center;
      padding: 0 1.5rem;
      width: 100%;
      margin-top: 0;
    }

    .button {
      margin-top: 5rem;
    }
  }

  .latest-news {
    .text-segmentation {
      margin-top: 0;
    }
  }

  .documentation {
    padding: 0 1.5625rem;

    h2 {
      margin-bottom: 5rem;
    }

    .container {
      padding: 5rem 0 0;
      width: 100%;
      max-width: 31.25rem;
      text-align: center;
      background: #f8faff;
    }

    .section1 p {
      margin: 1.25rem 2rem 1.875rem;
    }

    .section2 {
      width: 100%;
    }

    .section2 li {
      width: calc(100% - 5rem);
      text-align: left;
      margin: 0 1.25rem 3.125rem 1.25rem;
      padding-left: 2.005rem;
    }
  }

  .next-step {
    margin-bottom: 7.5rem;

    .container {
      padding-top: 3rem;
    }
  }
}
