@import '../constant.scss';

.asset.layout {
  .header {
    box-sizing: border-box;
    width: 100%;
    height: 96px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;

    .nav {
      display: inline-block;
      font-size: 32px;
      font-weight: 300;
      line-height: 96px;
      color: $color-main-foreground-dark;
      font-family: $font-main-title;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.back {
        left: 24px;
      }

      &.dashboard {
        right: 24px;
      }

      &:hover {
        color: $color-main-highlight;
      }
    }

    .title {
      font-family: $font-main-title;
      display: inline-block;
      font-size: 24px;
      font-weight: 300;
      line-height: 96px;
      margin: 0;
      padding: 0;
    }
  }

  .content {
    box-sizing: border-box;
    max-width: 768px;
    margin: 0 auto;
    padding: 32px 16px;
  }

  .form.header {
    box-sizing: border-box;
    border-bottom: 0;
    padding: 16px 16px 16px 32px;
    display: flex;

    .asset.icon {
      width: 64px;
      height: 64px;
      border-radius: 32px;
    }

    .asset.info {
      box-sizing: border-box;
      padding: 0 16px;
      font-family: $font-main-title;
      overflow: hidden;

      h1 {
        font-size: 32px;
        font-weight: 300;
        line-height: 1em;
        margin: 4px 0 10px;
        white-space: nowrap;
      }

      h2 {
        font-size: 16px;
        font-weight: 100;
        line-height: 1em;
        margin: 10px 0 0;
        white-space: nowrap;
        text-align: left;
      }
    }

    .assets.list.action {
      margin-left: auto;
      padding: 0 16px;
      color: $color-main-background;
      line-height: 64px;
    }
  }

  .assets.list.container {
    list-style: none;
    margin: 0;
    padding: 0;

    .asset.item {
      list-style: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background: $color-main-background;
      color: $color-main-foreground-dark;
      padding: 16px 32px;
      display: flex;
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .asset.icon {
        width: 64px;
        height: 64px;
        border-radius: 32px;
      }

      .asset.info {
        flex-basis: 100%;
        box-sizing: border-box;
        padding: 0 0 0 16px;
        font-family: $font-main-title;
        overflow: hidden;

        h1 {
          font-size: 32px;
          font-weight: 300;
          line-height: 1em;
          margin: 4px 0 10px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        h2 {
          font-size: 16px;
          font-weight: 100;
          line-height: 1em;
          margin: 10px 0 0;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .form.body {
    min-height: 256px;
    text-align: left;
    padding: 32px;
    box-sizing: border-box;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;

    input[type=file] {
      display: none;
    }

    .icon.wrapper {
      margin-top: 32px;

      .icon.croppie {
        width: 128px;
        height: 128px;
        color: transparent;
        display: none;
      }

      .icon.chooser {
        cursor: pointer;
        width: 128px;
        height: 128px;
        font-size: 32px;
        display: inline-block;
        border-radius: 64px;
        border: 2px solid $color-main-foreground-dark;
        line-height: 128px;
        text-align: center;
      }

      .croppie-container .cr-viewport {
        box-shadow: none;
        border: 0 none;
      }

      .croppie-container .cr-boundary {
        border-radius: 64px;
      }
    }

    .field {
      margin-bottom: 64px;

      label {
        display: block;
        font-size: 20px;
      }

      input[type=text],
      textarea {
        width: 100%;
        max-width: 100%;
        border: 0 none;
        border-bottom: 1px solid $color-main-foreground-dark;
        border-radius: 0;
        font-size: 20px;
        box-sizing: border-box;
        padding: 16px 0;
        margin-top: 16px;
        font-family: $font-main-content;
        font-weight: 300;
        background: transparent;
      }

      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $color-main-foreground-dark;
        font-weight: 100;
        opacity: 0.3;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color-main-foreground-dark;
        font-weight: 100;
        opacity:  1;
        opacity: 0.3;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-main-foreground-dark;
        font-weight: 100;
        opacity: 0.3;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $color-main-foreground-dark;
        font-weight: 100;
        opacity: 0.3;
      }

      textarea {
        font-size: 16px;
        min-height: 128px;
      }

      input[type=submit] {
        cursor: pointer;
        display: inline-block;
        color: $color-main-foreground-dark;
        border: 2px solid $color-main-foreground-dark;
        background: transparent;
        border-radius: 26px;
        font-family: $font-main-title;
        font-size: 20px;
        font-weight: 300;
        line-height: 1em;
        padding: 16px 32px;

        &:hover {
          background-color: $color-main-highlight;
          border-color: $color-main-highlight;
          color: $color-main-background;
        }
      }
    }
  }
}
