@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  src: url('SF-Pro/SF-Pro-Text-Light.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('SF-Pro/SF-Pro-Text-Light.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  src: url('SF-Pro/SF-Pro-Text-Regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('SF-Pro/SF-Pro-Text-Regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
  src: url('SF-Pro/SF-Pro-Text-Semibold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('SF-Pro/SF-Pro-Text-Semibold.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 900;
  src: url('SF-Pro/SF-Pro-Text-Bold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('SF-Pro/SF-Pro-Text-Bold.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}