@font-face {
    font-family: 'Maven Pro';
    font-weight: 400;
    src: local('Maven Pro Regular'), local('MavenPro-Regular'), url(./maven-pro/MavenPro-Medium.ttf);
}

@font-face {
    font-family: 'Maven Pro';
    font-weight: 500;
    src: local('Maven Pro Medium'), local('MavenPro-Medium'), url(./maven-pro/MavenPro-Medium.ttf);
}

@font-face {
    font-family: 'Maven Pro';
    font-weight: 700;
    src: local('Maven Pro Bold'), local('MavenPro-Bold'), url(./maven-pro/MavenPro-Bold.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'),
    url('./roboto/roboto-v16-latin-100.woff2') format('woff2'), url('./roboto/roboto-v16-latin-100.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Light'), local('Roboto-Light'),
    url('./roboto/roboto-v16-latin-300.woff2') format('woff2'), url('./roboto/roboto-v16-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./roboto/roboto-v16-latin-regular.woff2') format('woff2'), url('./roboto/roboto-v16-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Mono Thin'), local('RobotoMono-Thin'),
    url('./roboto/roboto-mono-v4-latin-100.woff2') format('woff2'), url('./roboto/roboto-mono-v4-latin-100.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Mono Light'), local('RobotoMono-Light'),
    url('./roboto/roboto-mono-v4-latin-300.woff2') format('woff2'), url('./roboto/roboto-mono-v4-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url('./roboto/roboto-mono-v4-latin-regular.woff2') format('woff2'), url('./roboto/roboto-mono-v4-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
    url('./roboto/roboto-mono-v4-latin-500.woff2') format('woff2'), url('./roboto/roboto-mono-v4-latin-500.woff') format('woff');
}
