@import '../constant.scss';

.event.layout {
  .header {
    box-sizing: border-box;
    width: 100%;
    height: 96px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;

    .nav {
      display: inline-block;
      font-size: 32px;
      font-weight: 300;
      line-height: 96px;
      color: $color-main-foreground-dark;
      font-family: $font-main-title;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.back {
        left: 24px;
      }

      &.dashboard {
        right: 24px;
      }

      &:hover {
        color: $color-main-highlight;
      }
    }

    .title {
      font-family: $font-main-title;
      display: inline-block;
      font-size: 24px;
      font-weight: 300;
      line-height: 96px;
      margin: 0;
      padding: 0;
    }
  }

  .content {
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    padding: 64px 24px;
    margin: 0 auto;

    .block {
      margin-bottom: 64px;
    }

    .time {
      opacity: 0.5;
      font-size: 0.875rem;
    }

    h2 {
      font-weight: 400;
      font-size: 22px;
      margin: 32px 0 16px;
    }

    p {
      margin: 16px 0;
      line-height: 1.5em;
      font-size: 16px;

      &.image {
        text-align: center;
      }
    }

    pre {
      margin: 16px 0;
    }

    strong {
      font-weight: 500;
    }

    img {
      max-width: 100%;
    }

    .code {
      font-family: $font-main-mono;
      font-size: 0.875rem;
      font-weight: 300;
      word-break: break-all;
      white-space: pre-wrap;
    }

    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      line-height: 1.5em;
      list-style: disc;
      margin-left: 20px;
    }
  }

  .footer.logo {
    text-align: center;
    padding-bottom: 64px;

    img {
      width: 32px;
      height: 32px;
      margin-top: 16px;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media (max-width: 736px) {
    .content {
      padding-top: 32px;
    }
  }
}
