body .markdown-body {

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  li {
    list-style: initial;
  }

  pre {
    code {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
}