@import './markdown.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  cursor: pointer;
}

button,
button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  font-weight: 500;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;

  &:visited {
    color: initial;
  }
}

.f {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.primary {
  padding: 0 12px;
  height: 48px;
  background: rgba(50, 119, 255, 1);
  border-radius: 4px;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  line-height: 26px;
  cursor: pointer;

  &:hover {
    background: rgba(50, 119, 255, 0.9);
  }
}

textarea {
  box-shadow: 0px 1px 4px 0px rgba(28, 77, 174, 0.1);
  border: 0;
  outline: none;
  resize: none;

  &::-webkit-input-placeholder {
    color: #a9b0bf;
  }

  &::-moz-input-placeholder {
    color: #a9b0bf;
  }

  &::-ms-input-placeholder {
    color: #a9b0bf;
  }
}

input {
  outline: none;
  border: 0;

  &::-webkit-input-placeholder {
    color: #a9b0bf;
  }

  &::-moz-input-placeholder {
    color: #a9b0bf;
  }

  &::-ms-input-placeholder {
    color: #a9b0bf;
  }
}
