.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.primary {
  height: 48px;
  padding: 0 12px;
  color: rgba(255, 255, 255, 1);
  background: rgba(50, 119, 255, 1);
  border-radius: 4px;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;

  &:hover {
    background: rgba(50, 119, 255, 0.9);
  }
}

.close-modal-button {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3125rem;
  box-sizing: initial;
}
