.primary {
  height: 48px;
  padding: 0 12px;
  color: rgba(255, 255, 255, 1);
  background: rgba(50, 119, 255, 1);
  border-radius: 4px;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;

  &:hover {
    background: rgba(50, 119, 255, 0.9);
  }
}

.cancel {
  height: 48px;
  padding: 0 12px;
  color: #333;
  background: #e5e7ec;
  border-radius: 4px;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
}

.close-modal-button {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3125rem;
  color: #b8bdc7;
  box-sizing: initial;
  cursor: pointer;
}

.el-loading-spinner {
  position: fixed;
  top: 50%;
  left: calc(50% + 17.5rem / 2);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 48rem) {
  .header-back {
    width: 3.125rem;
    transform: translate(-1.5625rem);
    padding-left: 1.5625rem;

    img {
      height: 1.5rem;
      width: 1.5rem;
      transform: translate(0, 0.3125rem);
    }
  }

  .el-loading-spinner {
    left: 50%;
  }
}
