.secret-list {
  width: 62rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2rem 0 0;
  box-sizing: border-box;

  .item {
    width: 50%;
    padding: 1rem;
  }

  .secret-item {
    position: relative;
    margin-bottom: .5rem;
    padding: 1.375rem 1.875rem;
    box-sizing: border-box;
    border-radius: .25rem;
    box-shadow: 0 0.0625rem 0.25rem 0 rgba(28, 77, 174, 0.1);
    background: #fff;

    img {
      border-radius: 0;
      margin-right: 0.875rem;
      transform: translate(0, 0.125rem);
    }

    span {
      font-weight: 700;
    }

    i {
      margin-right: 0.875rem;
      font-weight: 1000;
    }

    p {
      padding: 2rem 0;
      font-weight: 500;
      font-size: 0.9375rem;
      overflow: hidden;
    }

    &::after {
      content: "";
      width: 0.1875rem;
      height: 1.25rem;
      background-color: #3d75e3;
      position: absolute;
      top: 1.375rem;
      left: 0;
      border-radius: 0 0.5rem 0.5rem 0;
    }

    button {
      height: 2.5rem;
      margin-bottom: 1rem;
      white-space: nowrap;
      font-weight: 500;
      font-size: 0.9375rem;
    }
  }
}

.tips {
  width: 62rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 2.875rem 2rem;
  font-size: 0.9375rem;
  font-weight: 400;
  color: rgba(184, 189, 199, 1);
}

.qrcode img {
  width: 1.125rem;
  height: 1.125rem;
}

.button-container {
  display: flex;

  button {
    &:first-child {
      margin-right: 2rem;
    }
  }
}


@media screen and (max-width: 70rem) {
  .secret-list {
    .item {
      width: 100%;
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 48rem) {
  .secret-list {
    padding: 1.5rem 0 0;

    .secret-item {
      margin-bottom: 0;
    }
  }
}
