.container {
  height: 100%;
}

.secret-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 62rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 0 0;

  button {
    height: 2.5rem;
    min-width: 6rem;
  }

  .item {
    width: 50%;
    height: 260px;
    padding: 1rem;
  }

  .secret-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.375rem 1.875rem;
    height: 100%;
    background: #fff;
    box-shadow: 0 0.0625rem 0.25rem 0 rgba(28, 77, 174, 0.1);
    border-radius: .25rem;
    box-sizing: border-box;
    position: relative;
    margin-bottom: .5rem;

    img {
      border-radius: 0;
      margin-right: 0.875rem;
      transform: translate(0, 0.125rem);
    }

    span {
      font-weight: 700;
    }

    i {
      margin-right: 0.875rem;
      font-weight: 1000;
    }

    p {
      padding-top: 1.75rem;
      font-weight: 500;
      font-size: 0.9375rem;
      overflow: hidden;

      :deep(.warning) {
        color: #dd4b65;
      }
    }

    .credit {
      span {
        font-weight: 500;
      }
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::after {
      content: "";
      width: 0.1875rem;
      height: 1.25rem;
      background-color: #3d75e3;
      position: absolute;
      top: 1.375rem;
      left: 0;
      border-radius: 0 0.5rem 0.5rem 0;
    }

    button {
      white-space: nowrap;
      font-weight: 500;
      font-size: 0.9375rem;
    }
  }
}

.tips {
  width: 62rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 2.875rem 2rem;
  font-size: 0.9375rem;
  font-weight: 400;
  color: rgba(184, 189, 199, 1);
}

.qrcode img {
  width: 1.125rem;
  height: 1.125rem;
}

.btns {
  display: flex;
  justify-content: flex-end;

  button {
    width: 8.75rem;
    height: 2.5rem;
    margin-top: 2rem;
    font-size: 0.9375rem;

    &:hover {
      opacity: 0.8;
    }
  }

  .btn-download,
  .btn-close {
    background-color: #e5e7ec;
    color: #333;
    margin-right: 0.5625rem;
  }
}

.qrcode-btns {
  display: flex;

  button {
    &:first-child {
      margin-right: 2rem;
    }
  }
}

.btn-container {
  padding-top: 0.8125rem;
  padding-bottom: 1.125rem;

  button {
    &:first-child {
      margin-right: 2rem;
    }
  }
}

.iconguanbi {
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
  color: #b8bdc7;
  cursor: pointer;
  padding: 0.3125rem;

  &:hover {
    color: rgba(50, 119, 255, 0.8);
  }
}

.item-billing {
  width: 50%;
  padding: 1rem;
}

.billing {
  font-weight: 300;
  .credit {
    font-size: 0.9375rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
  }

  .value {
    font-weight: 200;
  }

  .h-px {
    border-top: 1px solid #e5e7ec;
    margin: 5px 0;
  }

  .title {
    font-size: 18px;
    color: rgb(55 65 81);
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 70rem) {
  .secret-list {
    display: block;

    .item {
      width: 100%;
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 48rem) {
  .secret-list {
    padding: 1.5rem 0 0;

    .secret-item {
      margin-bottom: 0;
    }
  }

  .btns {
    justify-content: center;
  }

  .btn-close {
    display: none;
  }
}
