.withdrawal-modal-container {
    padding: 50px;
    header {
        border: 0 !important;
        height: 140px !important;
        text-align: center;
        img {
            width: 72px;
            height: 72px;
            margin-bottom: 16px;
            border: 0;
        }
        p {
            margin-bottom: 30px;
            color: #a9b0bf;
            user-select: text;
        }
    }
    .first-row {
        input {
            width: 200px;
        }
        & > div:last-child {
            label {
                width: 72px;
            }
        }
    }

    .remenber-token {
        margin-left: 114px;
        color: #a9b0bf;
        cursor: pointer;
        i {
            margin-right: 13px;
            &.active {
                color: #3277ff;
            }
        }
        span {
            color: #a9b0bf;
        }
    }
    .btns {
        margin-top: 30px;
        button {
            font-size: 14px;
            width: 140px;
            float: right;
            margin-left: 10px;
        }
        .btns-cancel {
            background: #e5e7ec;
            color: #333;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
